h2 {
	font-family: fantasy;
}
.vhod{
	text-align: center;
	justify-content: center;
	margin-top: 25%;
	font-size: 30px;
}
h1 {
	text-align: center;
	padding: 10%;
	font-family: solid;
}

label {
	font-family: fantasy;
	font-size: 20px;
}
#form {
	display: flex;
	flex-direction: row;
}

#column-2 {
	align-self: center;
	width: 700px;
	height: 250px;
	background-color: rgb(173, 173, 173);
	border: #0f0f20;
	border-width: 10px 10px 10px 0;
	border-radius: 0 20px 20px 0;
	margin: 150px 40px 0 0;
	padding: 0 0 0 20px;
}

#column-1 {
	align-self: center;
	text-align: center;
	width: 400px;
	height: 250px;
	background-color: rgb(173, 173, 173);
	margin: 150px 0 0 150px;
	/* border: double #5882FA; */
	border-width: 10px 0 10px 10px;
	border-radius: 20px 0 0 20px;
}

.input {
	margin-left: 15px;border-radius: 5px;
	background-color: #F6CED8;
	border: 0.5px #000000;
	font-size: 20px;
}

.submit {
	text-decoration: none;color: black;display: inline-block;
	font-family: fantasy;
	background-color: rgb(143, 143, 143);
	padding: 8px;
	margin: 25px 0 0 0%;
	border: 3px solid #000000;
	border-radius: 25px;font-size: 16px;
}